/* SportsPress */
.sp-view-all-link {
  color: #a3a3a3;
}

.sp-view-all-link:hover {
  color: #C58000;
}

.sp-highlight {
  background: #fff;
}

.sp-heading {
  background: #2b353e;
  color: #fff;
}

.sp-heading:hover,
.sp-heading a:hover {
  color: #fff;
}

.sp-table-caption {
  color: #fff;
  background: #2b353e;
  border-top: 8px solid #C58000;
  padding: 0.625em 15px;
}

.sp-template-event-performance-icons tbody td {
  padding: 0.3125em 0.625em;
}

.sp-event-staff {
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
}

.sp-table-wrapper .dataTables_paginate {
  background: #f4f4f4;
  color: #a3a3a3;
  border: 1px solid #e0e0e0;
}

.sp-template-countdown .event-name {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  padding: 0.635em 15px;
  color: #222;
}

.sp-template-countdown .event-name a {
  color: #222;
}

.sp-template-countdown .event-name,
.sp-template-countdown .event-venue,
.sp-template-countdown .event-league {
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
}

.sp-template-countdown .event-venue,
.sp-template-countdown .event-league {
  border-top: none;
}

.sp-template-countdown .event-venue,
.sp-template-countdown .event-league {
  font-weight: normal;
}

.sp-template-countdown time span {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #f4f4f4;
}

.sp-template-countdown time span:first-child {
  border-left: 1px solid #e0e0e0;
}

.sp-template-event-logos .sp-team-result {
  color: #fff;
  background: #C58000;
}

.sp-template-event-venue .sp-google-map {
  margin: 0 -1px;
}

.sp-template-event-calendar #today {
  background: #fff;
}

.sp-template-event-calendar #prev a,
.sp-template-event-calendar #next a {
  color: #a3a3a3;
}

.sp-template-event-calendar #prev a:hover,
.sp-template-event-calendar #next a:hover {
  color: #C58000;
}

.sp-template-event-blocks .event-title {
  color: #222;
  background: #fff;
  border: 1px solid #e0e0e0;
}

.sp-template-event-blocks .event-title a {
  color: #222;
}

.sp-template-event-blocks .event-results,
.sp-template-event-blocks .event-time {
  text-transform: none;
}

.sp-template-details dl {
  background: #f4f4f4;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.sp-template-gallery .gallery-caption {
  background: #2b353e;
}

.sp-template-gallery .gallery-item strong {
  background: #C58000;
}

.sp-template-post-content th,
.sp-template-post-content td {
  font-size: inherit;
  text-align: inherit;
}

.sp-footer-sponsors .sp-sponsors {
  border-top: 1px solid #e0e0e0;
}

.sp-template-tournament-bracket .sp-result {
  color: #fff;
  background: #C58000;
}

.sp-template-tournament-bracket .sp-event-title:hover .sp-result {
  background: #955E00;
}

.sp-template-tournament-bracket .sp-event-venue {
  color: #a3a3a3;
}

.single-sp_team .has-post-thumbnail .entry-header .entry-title {
  float: left;
}

.single-sp_team .has-post-thumbnail .sp-excerpt {
  clear: left;
}

.single-sp_player .entry-header .entry-title strong {
  background: #C58000;
  color: #fff;
}

.single-sp_staff .entry-header .entry-title strong {
  color: #C58000;
}